.container{
    margin-top: 20px;
}
.container label{
    color: white;
    margin-top: 7px;
}
.container .row .col input{
    width: 200px;
    margin-bottom: 10px;
}
.container #enviar{
    margin-bottom: 20px;
}

#tipo_documento{
    width: 50%;
    
 
}

